{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 1 version", "ie >= 11"]
      },
      "module": false
      }
    ],
    "react",
    "stage-2"
  ],
  "plugins": [
    "transform-decorators-legacy",
  ]
}
